@charset "utf-8";
.zong {
	height: 100%;
	width: 100%;
	/*border-left: 1px solid #afc6d0;
	border-right:1px solid #afc6d0;
	background: url(../images/r_bg3.jpg) repeat-x bottom;*/
	padding-bottom:10px;
	
}
.right_top {
	background-image: url(../images/r_bg1.jpg);
	background-repeat: repeat-x;
	height: 44px;
	width: 100%;
}
.ti{
	font-size:14px;
	font-weight:bold;
	color:#900;}
.xian {
	border-top: 1px dashed #6CF;
	height:20px;
}
.position {
	padding-top: 5px;
	padding-left: 3px;
	font-weight: bold;
}
.main {
	width: 100%;
	background-color: #eefafe;
}
.right_main {
	line-height:30px;
	/*height: 83%;*/
	width: 100%;
}
.kuang{
	border: 1px solid  #CCC;
	color:#000;
	width:170px;
}
.txt_btn1 {
	border:0;
	background-image: url(../images/button_bg.jpg);
	background-repeat: no-repeat;
	height: 24px;
	width: 67px;
	color: #FFF;
	font-weight: bold;
}
.txt_btn2 {
	border:0;
	background-image: url(../images/button_bg.jpg);
	background-repeat: no-repeat;
	height: 24px;
	width: 67px;
	color: #FFF;
	font-weight: bold;
	/*margin-top: 3px;*/
	margin-left: 10px;
	margin-top: 2px;
}
.txt_btn3 {
	border:0;
	background-image: url(../images/button2_bg.jpg);
	background-repeat: no-repeat;
	height: 24px;
	width: 104px;
	color: #FFF;
	font-weight: bold;
	/*margin-top: 3px;*/
	margin-left: 10px;
	margin-top: 2px;
}
.txt_btn4 {
	border:0;
	background-image: url(../images/back.jpg);
	background-repeat: no-repeat;
	height: 24px;
	width: 58px;
	color: #FFF;
	font-weight: bold;
	/*margin-top: 3px;*/
	margin-left: 14px;
	font-size:13px;
	text-align: center;

}
.right_middle {
	width: 99%;
	padding-bottom: 5px;
	white-space: nowrap;
	padding-left: 3px;
	text-align: left;
	line-height:30px;
	height:30px;
}
.right_middle_1 {
	width:99%;
	padding-bottom: 5px;
	white-space: nowrap;
	padding-left: 3px;
}
.font {
	width: 12%;
}
.biaoge_1 {
	width:99%;
	border-collapse:collapse;
	border:none;
	margin-left: 2px;
	line-height:30px;
}
.biaoge_1 td{
	border:1px solid #27b3e8;
	text-align:center;
/*	white-space:nowrap;*/
}

.biaoge_3 {
	/*width:99%;*/
	border-collapse:collapse;
	border:none;
	margin-left: 2px;
	width:99%;
	line-height:30px;
}
.biaoge_3 td{
	border:1px solid #27b3e8;
	border-bottom:none;
	text-align:center;
/*	white-space:nowrap;*/
}
.bige {
	width:99%;
	border-collapse:collapse;
	border:none;
	margin-left: 2px;
/*	top:92%;
	_top:91%;
	margin-top:20px;*/
	bottom:0px;
	margin-bottom:10px;
		position:absolute;
	
}
.bige td{
	border:1px solid #27b3e8;
	white-space:nowrap;
	padding-left:2px;
}
.toubu {
	background:#cceafb;
	height: 30px;
	font-weight: bold;
	text-align: center;
}
.toubu2 {
/*	background-color: #edf4e9;*/
background:#cceafb;
	text-align: center;
	font-weight: bold;
}
.toubu3{
	background:#edf4e9;
	font-weight: bold;}
.jc {
	width: 99%;
	line-height:30px;
	border-collapse:collapse;
	border:none;
	margin-top:5px;
}

#tck{
	line-height:30px;
	border-collapse:collapse;
	border:none;
/*	background:#eef9ff;*/
}
#tck td{
	border:1px solid #27b3e8;
	padding-left:2px;
	padding-right:2px;
	white-space:nowrap;
}
/*第一种颜色*/
#tck tr.color1 {
	background-color:#FFFFFF;
}
/*第二种颜色*/
#tck tr.color2 {
	background-color:#ebf8fe;
}
.qy {
	margin-bottom:5px;
	margin-top:5px;
}
.back {
	background:url(../images/back.jpg) no-repeat;
	width:45px;
	height:24px;
	padding-left:13px;
	font-size:13px;
	text-align: center;
	color: #fff;
	float:right;
	display:inline;
}
.back a {
	color:#fff;
}
/*.move {
	OVERFLOW-X: hidden;
	OVERFLOW-Y: scroll;
	WIDTH: 100%;
	OVERFLOW: hidden;*/
.biaoge_2 td{
	border:0;
	text-align:left;
	padding-left:5px;
	
}
.bb {
	border-collapse:collapse;
	border:none;
	margin-left: 2px;
}
.bb td{
	border:1px solid #CCC;
	text-align:center;
	white-space:nowrap;
}
.butt {
	background-image: url(../images/img11.jpg);
	background-repeat: repeat-x;
	height: 26px;
	border:0;
	font-weight:bold;
	color:#FFF;
	border:1px solid  #159add;
}
/*-----------------------选项卡------------------------*/
.nTab {
	width: 99%;
	border:1px #159add solid;
}
.nTab .TabTitle {
	clear: both;
	height: 28px;
	overflow: hidden;
	background-image: url(../images/b_bg1.jpg);
	background-repeat: repeat-x;
	/*background-color:#3fa9dd;*/
}
.nTab .TabTitle ul {
	border:0;
	margin:0;
	padding:0;
}
.nTab .TabTitle li {
	float: left;
	cursor: pointer;
	list-style-type: none;
	width: 73px;
}
.nTab .TabTitle .active {
	background-image: url(../images/xx_bg1.gif);
	background-repeat: no-repeat;
	height: 28px;
	font-weight: bold;
	color: #C00;
	width: 73px;
	text-align: center;
	margin-top: 0px;
	padding-top: 0px;
}
.nTab .TabTitle .normal 
{
	
	font-weight: bold;
	padding-top: 5px;
	text-align: center;
	color:#ffffff;
}
.nTab .TabContent {
	/*border-right:1px #159add solid;
	border-left:1px #159add solid;
	border-bottom:1px #159add solid;*/
}
.none {
	display:none;
}

.biaotou{
	font-size:14px; 
	font-weight:bold; 
	background:url(../images/r_bg1.jpg) repeat-x; 
	height:44px; 
	padding-bottom:8px;}
.tc_bg {
	border-collapse:collapse;
	border:none;
	line-height:30px;
/*	margin-left: 1px;*/
}
.tc_bg td{
	border:1px solid #27b3e8;
	white-space:nowrap;
	padding-left:2px;
}
.k {
	border:1px solid #117BA4;
}
.mm {
	background-color: #F00;
	color: #FFF;
	padding:3px;
}
.mm a{
	color: #FFF;
}
.tc_bg h3{
	line-height:0px;}
.lpt{
	background:#e5f7ff;
	height:60%;
	width:100%;}
.pt{
	margin-bottom:5px;
	margin-right:5px;
	background:#C00; 
	color:#FFF;
	border:1px solid #900;
	width:60px;
	height:30px;
	text-align:center;}
.pt1{
	margin-bottom:1px;
	margin-right:1px;
	background:#1996ca;
	color:#FFF;
	border:1px solid #0c80af;
	width:50px;
	height:30px;
	text-align:center;
}
.pt2{
	margin-bottom:1px;
	margin-right:1px;
	background:#1996ca;
	color:#FFF;
	border:1px solid #0c80af;
	width:99%;
	height:30px;
	text-align:center;
}
.pt3{
	margin-bottom:1px;
	margin-right:1px;
	background:#fe6500;
	color:#FFF;
	border:1px solid #fe6500;
	width:50px;
	height:30px;
	text-align:center;
}


.pt4{
	margin-bottom:1px;
	margin-right:1px;
	background:#1996ca;
	color:#FFF;
	border:1px solid #0c80af;
	
	height:30px;
	text-align:center;
}
.rbtnl
{
border-collapse:collapse;
	border:none;
}
.rbtnl td
{
	border:0;
	}
	
       #scrollTable {
        width:99%;
        /*border: 0px solid #EB8;table没有外围的border，只有内部的td或th有border
        background: #ffffff;*/
      }
      #scrollTable table {
        border-collapse:collapse; /*统一设置两个table为细线表格*/
      }
      /*表头 div的第一个子元素**/
      #scrollTable table.thead{ 
        width:100%;
		border:1px solid #FFF;
		border-bottom:none;
      }
	   #scrollTable table.thead td{
       border:1px solid #27b3e8;
		border-bottom:none;
      }
      /*表头*/
     /* #scrollTable table.thead th{
       border:1px solid #27b3e8;
		border-bottom:none;
      }*/
      /*能带滚动条的表身*/
      /*div的第二个子元素*/
      #scrollTable div{
        width:100%;
        height:125px;
        overflow:auto;/*必需*/
        scrollbar-face-color:#4aa5d9;/*那三个小矩形的背景色*/
        scrollbar-base-color:#ece9d8;/*那三个小矩形的前景色*/
        scrollbar-arrow-color:#f4fafe;/*上下按钮里三角箭头的颜色*/
        scrollbar-track-color:#ece9d8;/*滚动条的那个活动块所在的矩形的背景色*/
        scrollbar-highlight-color:#e4f2fa;/*那三个小矩形左上padding的颜色*/
        scrollbar-shadow-color:#e4f2fa;/*那三个小矩形右下padding的颜色*/
        scrollbar-3dlight-color: #4aa5d9;/*那三个小矩形左上border的颜色*/
        scrollbar-darkshadow-Color:#4aa5d9;/*那三个小矩形右下border的颜色*/
      }
      /*能带滚动条的表身的正体*/
      #scrollTable table.tbody{
	width:100%;
	border: 1px solid #27b3e8;
	border-right:#27b3e8;
	color:#666666;
      }
      /*能带滚动条的表身的格子*/
      #scrollTable table.tbody td{
        border:1px solid #27b3e8;
		text-align:center;
      }

      
       #scrollTable2 {
        width:99%;
        /*border: 0px solid #EB8;table没有外围的border，只有内部的td或th有border
        background: #ffffff;*/
      }
      #scrollTable2 table {
        border-collapse:collapse; /*统一设置两个table为细线表格*/
      }
      /*表头 div的第一个子元素**/
      #scrollTable2 table.thead{ 
        width:100%;
		border:1px solid #FFF;
		border-bottom:none;
      }
	   #scrollTable2 table.thead td{
       border:1px solid #27b3e8;
		border-bottom:none;
      }
      /*表头*/
     /* #scrollTable table.thead th{
       border:1px solid #27b3e8;
		border-bottom:none;
      }*/
      /*能带滚动条的表身*/
      /*div的第二个子元素*/
      #scrollTable2 div{
        width:100%;
        height:125px;
        overflow:auto;/*必需*/
        scrollbar-face-color:#4aa5d9;/*那三个小矩形的背景色*/
        scrollbar-base-color:#ece9d8;/*那三个小矩形的前景色*/
        scrollbar-arrow-color:#f4fafe;/*上下按钮里三角箭头的颜色*/
        scrollbar-track-color:#ece9d8;/*滚动条的那个活动块所在的矩形的背景色*/
        scrollbar-highlight-color:#e4f2fa;/*那三个小矩形左上padding的颜色*/
        scrollbar-shadow-color:#e4f2fa;/*那三个小矩形右下padding的颜色*/
        scrollbar-3dlight-color: #4aa5d9;/*那三个小矩形左上border的颜色*/
        scrollbar-darkshadow-Color:#4aa5d9;/*那三个小矩形右下border的颜色*/
      }
      /*能带滚动条的表身的正体*/
      #scrollTable2 table.tbody{
	width:100%;
	border: 1px solid #27b3e8;
	border-right:#27b3e8;
	color:#666666;
      }
      /*能带滚动条的表身的格子*/
      #scrollTable2 table.tbody td{
        border:1px solid #27b3e8;
		text-align:center;
      }

      .biaoge_t td{
	border:1px solid #27b3e8;
	text-align:center;
/*	white-space:nowrap;*/
}


.biaoge_h td{
	border:1px solid #27b3e8;
	border-bottom:none;
	text-align:center;
/*	white-space:nowrap;*/
}

.jc1 {
	width: 100%;
	line-height:30px;
	border-collapse:collapse;
	border:none;
	margin-top:0px;
}
.jc td,.jc1 td{
	/*border:1px solid #afc6d0;
	border-top:none;*/
	border:1px solid #27b3e8;
	padding-left:2px;
	padding-right:2px;
	}
.aa 
{
	width: 100%;
	line-height:30px;
	border-collapse:collapse;
	border:none;
	margin-top:0px;
	}
	.aa td
	{
	border:1px solid #27b3e8;
	padding-left:0px;
	padding-right:0px;
	white-space:nowrap;
		
		}
.jc1 td{
	
	border-top:0;}
	
	 .printButtonShow
{
	background-color:#f1f1f1;
	border:solid 1px #ccc;
	position:absolute;
	display:none;
	height:60px;
	width:70px;
	padding:5px;
	font-size:12px;
	}

  .scrollTable3 div{
        width:100%;
        height:200px;
        overflow:auto;/*必需*/
        scrollbar-face-color:#4aa5d9;/*那三个小矩形的背景色*/
        scrollbar-base-color:#ece9d8;/*那三个小矩形的前景色*/
        scrollbar-arrow-color:#f4fafe;/*上下按钮里三角箭头的颜色*/
        scrollbar-track-color:#ece9d8;/*滚动条的那个活动块所在的矩形的背景色*/
        scrollbar-highlight-color:#e4f2fa;/*那三个小矩形左上padding的颜色*/
        scrollbar-shadow-color:#e4f2fa;/*那三个小矩形右下padding的颜色*/
        scrollbar-3dlight-color: #4aa5d9;/*那三个小矩形左上border的颜色*/
        scrollbar-darkshadow-Color:#4aa5d9;/*那三个小矩形右下border的颜色*/
      }
.tousu {
	line-height:30px;
	width:99%;
	border:1px  solid #6593b1;
	background:url(../images/ly_bg.jpg) repeat-x bottom;
	margin-bottom: 15px;
}
.lb_1 {
	border-bottom: 1px dashed #90b5c8;
	padding-right: 5px;
	padding-left: 5px;
}
.tousu td{
	padding-right: 5px;
	padding-left: 5px;
}


.ht {
	width: 585px;
	font-size:14px;
	line-height:24px;
}
.box {
	border-bottom:1px solid #000;
	font-size:14px;
	text-align:center;
	
	border-left-style: none;
	border-left-color: inherit;
	border-left-width: 0;
	border-right-style: none;
	border-right-color: inherit;
	border-right-width: 0;
	border-top-style: none;
	border-top-color: inherit;
	border-top-width: 0;
	
}
.ht p {
	text-indent:24px;
	/*margin-top:5px;
	margin-bottom:5px;*/
}
.lj {
	text-align:right;
	background-color: #F5F5F5;
}
.lj a{
	color:#F00;
}

.bgcolor_red{
	margin-bottom:1px;
	margin-right:1px;
	background:red;
	color:#FFF;
	border:1px solid #fe6500;
	width:50px;
	height:30px;
	text-align:center;
}
 /*bgcolor="green",bgcolor="purple",bgcolor="yellow"，bgcolor="red"，bgcolor="gray"*/
 .bgcolor_green{
	margin-bottom:1px;
	margin-right:1px;
	background:green;
	color:#FFF;
	border:1px solid #fe6500;
	width:50px;
	height:30px;
	text-align:center;
}
 .bgcolor_purple{
	margin-bottom:1px;
	margin-right:1px;
	background:purple;
	color:#FFF;
	border:1px solid #fe6500;
	width:50px;
	height:30px;
	text-align:center;
}
 .bgcolor_yellow{
	margin-bottom:1px;
	margin-right:1px;
	background:yellow;
	color:#FFF;
	border:1px solid #fe6500;
	width:50px;
	height:30px;
	text-align:center;
}
 .bgcolor_gray{
	margin-bottom:1px;
	margin-right:1px;
	background:gray;
	color:#FFF;
	border:1px solid #fe6500;
	width:50px;
	height:30px;
	text-align:center;
}
 .bgcolor_crimson{
	margin-bottom:1px;
	margin-right:1px;
	background:#f1228e;
	color:#FFF;
	border:1px solid #fe6500;
	width:50px;
	height:30px;
	text-align:center;
}
 .bgcolor_blue{
	margin-bottom:1px;
	margin-right:1px;
	background:#00ffff;
	color:#FFF;
	border:1px solid #fe6500;
	width:50px;
	height:30px;
	text-align:center;
}

.color2 {
	border:1px solid #000;
	width:84px;
	text-align:center;
 font-weight:bold;
}

.bg
{ 	background:url(../images/bg.png) repeat-x; 
	
	
	}




/* ---------综合档案---------*/
.red {
	color: #F00;
}
.dah_top_left {
	background-image: url(../images/a12.jpg);
	background-repeat: no-repeat;
	height: 11px;
	width: 11px;
}
.dah_top_middle {
	background-image: url(../images/a13.jpg);
	background-repeat: repeat-x;
	height: 11px;
}
.dah_top_right {
	background-image: url(../images/a12.jpg);
	background-repeat: no-repeat;
	height: 11px;
	width: 11px;
}
.dah{
	height: 11px;
}
.dah_middle_left {
	background-image: url(../images/a14.jpg);
	background-repeat: repeat-y;
	width: 11px;
}
.dah_middle_right {
	background-image: url(../images/a14.jpg);
	background-repeat: repeat-y;
	width: 11px;
}
.ceng {
	background-image: url(../images/a13.jpg);
	background-repeat: repeat-x;
	height: 11px;
	background-position: bottom;
	margin-top: 10px;
	height:135px;
}
.b1 {
	padding-bottom: 8px;
/*	padding-left: 4px;
	padding-right: 1px;*/
	text-align:center;
}
.b1 a:hover img{
filter: Alpha(Opacity=25, FinishOpacity=50, Style=1, StartX=0, StartY=1, FinishX=25, FinishY=129);
}
.b2 {
	font-weight: bold;
	text-align:center;
	background-color: #EAEAEA;
	width:50px
}
.gdlb{
	width:2000px;
	border-collapse:collapse;
	margin-top: 5px;
	line-height: 30px;
	margin-bottom: 15px;
	margin-left: 3px;
	}
.gdlb td {
	border: 1px solid #15b4e4;
	padding-left:3px;
	padding-right: 3px;
}
.lb_1 {
	background-color: #AAE3FF;
	text-align: center;
}

/* ---------综合档案结束---------*/

.font h3 {
	font-size: 14px;
}


.xmjs{
	width: 720px;
	padding:5px;
	overflow: hidden;
}
.xmjs ul li {
	float: left;
	padding-right: 14px;
	padding-left: 15px;
	margin:5px 0;
	display:inline;
}
.xmjs li img{
	padding:2px;
	border:1px solid #CCC;}
	
	
	.imgdisplay{
	margin-top:5px;
    width:450px;
	
}
.imgdisplay ul li {
	padding-left:10px;
	line-height:28px; 
 float:left;
}
.imgdisplay ul li a{ color:#000;}
	
	